.App {
  text-align: center;
}
.container{
  text-align: center;
}
.calculator{
  text-align: center;
}
.box{
  margin: 30px;
  padding:30px;
  background-color: #999;
}
.displayCalc{
  display: inline;
  padding: 10px;
  margin: 10px;
  min-width: 100px;
  min-height: 1000px;
  background-color: #fff;
}
